@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background: url(../../assets/images/honey-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}


/*--------text--------*/

.heading {
  margin-top: 0;
  font-weight: 600;
}

.general-text {
  color: #FAB140;
  letter-spacing: 0.2rem;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.content-heading {
  margin: 7px;
}

.content-text {
  font-family: "Montserrat", sans-serif;
  color: #a8a9ad;
}

.website {
  text-decoration: none;
  color: #a8a9ad;
  margin-top: 10px;
}

/*--------map--------*/

.map-container {
  height: 70vh;
  position: relative;
}

#map {
  height: 100%;
  width: 97%;
}

/*--------color--------*/
.icon-color {
  color: #fab140;
}


/*--------general--------*/
.logo {
    height: 200px;
}

.buttons {
    border: none;
  background-color: transparent;
  outline: none;
}
/*--------map--------*/

.map-container {
  height: 70vh;
  position: relative;
}

#map {
  height: 100%;
  width: 97%;
}

div #map {
  margin: 0 auto;
}

.over-map{
    position: absolute; top: 7%; left: 3%; z-index: 99;
    background-color: rgba(89, 89, 92, 0.5);
    border-radius: 5px;

}
/*--------search bar--------*/


#pac-input {
  background-color: rgb(248,248,255,0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 30%;
  border-radius: 5px;
  border-color: #eeeff1;
  margin-bottom: 5px;
  width: 20%;
}


#pac-input:focus {
  border-color: #fab140;
}

.hidden {
  display: none;
}

/*--------modal--------*/

.modal-btn {
  margin-left: 40%;
  height: 40px;
}



.transition {
    -webkit-transform: scale(.1); 
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    transform: scale(.1);
}
#edit-btn {
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
}

#test{
    -webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
}

/*--------hover--------*/
.website:hover {
  text-decoration: none;
  color: #fab140;
  margin-top: 10px;
}

.transition {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}
#weblink {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

#weblink {
  width: 80px;
  margin: 25px;
}



/*--------list--------*/
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: orange;
  color: white;
}

.header {
  background-color:rgba(0, 0, 0, 0.15);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}