@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

.bee-bg {
  background: url(../../assets/images/honey-bg.jpg) no-repeat center center
    fixed;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.clouds-bg {
  background: url(../../assets/images/clouds-bg.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

.container-width {
  width: 97%;
  margin: 0;
  border-radius: 5px;
}
/*--------text--------*/

.heading {
  margin-top: 0;
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255);
  letter-spacing: 0.2rem;
}

.content-heading {
  margin: 7px;
  font-weight: 500;
}

.content-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(10, 10, 10);
  letter-spacing: 0.1rem;
}

.text-small {
  font-size: small;
  letter-spacing: 0.05rem;
  text-align: left;
}

/*--------nav--------*/
.navbar {
  height: 50px;
}

.navbar-light .navbar-toggler {
  border: none;
}

/*--------color--------*/

.bg-col {
  background-color: rgb(248, 248, 255, 0.9);
}

.honey-col {
  color: #fab140;
}

/*--------general--------*/

.center {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.logo-nav {
  height: 40px;
}

.button {
  /* width: 200px; */
  display: inline-block;
  padding: 10px;
  background: rgba(255, 255, 255);
  margin: 10px 0 10px 10px;
  /* color: #fab140; */
  border: 1px solid #fab140;
  border-radius: 15px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.honey-pot {
  height: 135px;
  width: 135px;
}

.cursor {
  cursor: pointer;
}

/*--------map--------*/

.map-container {
  height: 70vh;
  position: relative;
}

#map {
  height: 100%;
  width: 97%;
  border-radius: 5px;
}

div #map {
  margin: 0 auto;
}

.map-btn {
  position: absolute;
  bottom: 1%;
  left: 2%;
}

.directIcon {
  color: white;
  font-size: 25px;
}
/*--------search bar--------*/

.pac-input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 11px 5px 13px;
  text-overflow: ellipsis;
  border-radius: 5px;
  border-color: #eeeff1;
  margin-bottom: 10px;
  width: 300px;
}

#pac-input:focus {
  border-color: #fab140;
}

.hidden {
  display: none;
}

/*--------hover--------*/

.text-hvr:hover,
.active {
  text-decoration: none;
  color: #fab140;
}

.button:hover,
.option:focus-within {
  background: #9ebe7b;
  border: 1px solid white;
  color: white;
  text-decoration: none;
}

.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon,
.hvr-icon-grow:focus .hvr-icon,
.hvr-icon-grow:active .hvr-icon {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

/*--------list--------*/

#yourListUl {
  list-style-type: none;
  line-height: 30px;
}

.favourites-icon {
  font-size: 30px;
}

/*--------about--------*/

#benefits {
  margin-top: 100px;
}

.flip {
  height: 350px;
  color: white;
}

.flip .front {
  text-align: center;
  border-radius: 5px;
}

.flip .back {
  text-align: center;
  border-radius: 5px;
}

.flipCard1 {
  background-color: #a8e1e8;
}

.flipCard2 {
  background-color: #fab140;
}

.flipCard3 {
  background-color: #9ebe7b;
}

.benefitsImgs {
  height: 200px;
}

.beekeeper {
  height: 300px;
}

@media screen and (max-width: 576px) {
  .beekeeper {
    height: 250px;
  }
}

/*--------quiz--------*/

.quiz-container-1 {
  background-color: white;
  border: 3px solid #fab140;
  border-radius: 5px;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  top: 4px;
  width: 15px;
  left: 5px;
  height: 15px;
  border-radius: 50%;
  background: #fab140;
}

.bee-img {
  height: 200px;
}

progress {
  border-radius: 3px;
  height: 20px;
  width: 40%;
}
progress::-webkit-progress-bar {
  background-color: #a8e1e8;
  border-radius: 3px;
}
progress::-webkit-progress-value {
  background-color: #fab140;
  border-radius: 3px;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide {
  opacity: 1;
  z-index: 2;
}
#quiz {
  position: relative;
}

.quiz-button-container {
  position: relative;
  margin-top: 10rem;
}

@media screen and (max-width: 576px) {
  .quiz-button-container {
    position: relative;
    margin-top: 22rem;
  }
}
