@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background: url(../../assets/images/honey-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}


/*--------text--------*/

.heading {
  margin-top: 0;
  font-weight: 600; 
  text-shadow: 0.5px 0.5px 0.5px 	rgba(255, 255, 255);

}

.general-text {
  letter-spacing: 0.2rem;
}

.content-heading {
  margin: 7px;
}

.content-text {
  font-family: "Montserrat", sans-serif;
  color: rgb(109, 112, 114);
}

.website {
  text-decoration: none;
  margin-top: 10px;
}

/*--------nav--------*/
.navbar {
    height: 50px;
}


/*--------map--------*/

.map-container {
  height: 70vh;
  position: relative;
}

#map {
  height: 100%;
  width: 97%;
}

/*--------color--------*/

.bg-col {
      background-color: rgb(248,248,255,0.9);
          border-radius: 5px;

}

.honey-col {
      color: #FAB140;

}
/*--------general--------*/


.logo-nav{
    height: 40px;
}
.buttons {
    border: none;
  background-color: transparent;
  outline: none;
  
}

.bee-keeper{
    height: 400px;
}
/*--------map--------*/

.map-container {
  height: 70vh;
  position: relative;
}

#map {
  height: 100%;
  width: 97%;
}

div #map {
  margin: 0 auto;
}

.over-map{
    position: absolute; top: 7%; left: 3%; z-index: 99;

}
/*--------search bar--------*/


.pac-input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 30%;
  border-radius: 5px;
  border-color: #eeeff1;
  margin-bottom: 5px;
  width: 20%;
}


#pac-input:focus {
  border-color: #fab140;
}

.hidden {
  display: none;
}

/*--------modal--------*/

.modal-btn {
  margin-left: 40%;
  height: 40px;
}



.transition {
    -webkit-transform: scale(.1); 
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
    transform: scale(.1);
}
#edit-btn {
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
}

#test{
    -webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
}

/*--------hover--------*/
.website:hover {
  text-decoration: none;
  color: #fab140;
  margin-top: 10px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}




/*--------list--------*/
.listItem {
    display: none;
}
#listItems li:nth-child(odd) {
  background: #f9f9f9;
}
 #listItems li:hover {
  background: #ddd;
}
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: orange;
  color: white;
}


.addBtn {
  padding: 5px;
    margin-top: 5px;
    width: 20%;
    background: #d9d9d9;
    float: left;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

.addBtn:hover {
  background-color: #bbb;
}

/*--------benefits-cards--------*/

.flip {
    height: 350px;
    width: 270px;
}

.flip .front {
    background-color: rgb(248,248,255);
    text-align: center;
    border-radius: 5px;

}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
        border-radius: 5px;

}

.benefitsImgs{
    height: 200px;

}
/*--------quiz--------*/

.quizContainer {
    background-color: #FAB140;
    border: 1px solid white;
    border-radius: 5px;
}


.option{
    width: 200px;
	display: inline-block;
	padding: 10px 0 10px 15px;
	background: rgba(255, 255, 255, 0.5);
	margin: 10px 0 10px 10px;
	color: white;
	border-radius: 15px;
}

.option:hover{
    background-color: grey;
}

#nextBtn {
    color: white;
}

#nextBtn:hover {
        background-color: grey;
}

#quizResults{
    height: 100px;
	text-align: center;
	font-size: 40px;
    color: white;
}

